.hyperspeed-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  pointer-events: none;
}

.hyperspeed-container canvas {
  width: 100%;
  height: 100%;
}

